$cyan: #64edeb; // sidebar
$primary: #00a652;
$success: #5eaf8c;
$success2: #39f09a;
$warning: #fde428;

$info2: #77ffed;
$info3: #69e999; // sidebar

$appGreenDark: #0b683f;
$appGreenDark2: #395748;
$appMidGray: #e1e0e0;