$cyan: #64edeb; // sidebar
$primary: #00a652;
$success: #5eaf8c;
$success2: #39f09a;
$warning: #fde428;

$info2: #77ffed;
$info3: #69e999; // sidebar

$appBlack: #212529;
$appGreenDark: #0b683f;
$appGreenDark2: #395748;
$appMidBrown: #e1e0e0;

$appTextContent: #1c1c1c;

$appGray: #949494;
$appGray2: #ccc;
$appGreen: #69e999;
$appBlue: #64edeb;

$grid-gutter-width: 40px !default;

// bootstrap theming: new color scheme
$theme-colors: ("app-gray": $appGray,
    "app-gray-2": $appGray2,
    "app-black": $appBlack,
    "app-green": $appGreen,
    "app-blue": $appBlue,
    "app-text-content": $appTextContent);

// bootstrap overrides 
$pagination-color: $appBlack;
$pagination-active-color: #fff;
$pagination-active-bg: $appBlack;