@import "./variables";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "./fonts.scss";
@import "./custom.scss";

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
}

.form-control {
    border-radius: 0;
    border: 1px solid lighten(#000, 25%);
    font-size: 15px;

    &:focus {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .175) !important;
        border-color: #000;
    }
}

.app-navbar-top,
.app-navbar {
    >.container-fluid {
        max-width: 1200px;
    }
}

.app-navbar {
    .navbar-toggler {
        outline-color: $warning;
        border-radius: 2px;
    }

    .navbar-brand {
        position: absolute;
        top: -45px;
        left: 0;

        img {
            width: 180px;
        }
    }

    .navbar-collapse {
        z-index: 99;

        .nav-link {
            padding-left: 7px;
            padding-right: 7px;

            &.dropdown-toggle::after {
                margin-left: 1px;
            }
        }
    }

    .dropdown-menu {
        position: relative;
        top: 53px;
        border-top: 3px solid $primary;

        .dropdown-item {
            padding-top: 7px;
            padding-bottom: 7px;
            font-size: 14px;
            border-bottom: 1px solid lighten($secondary, 45%);
            text-transform: none;
            color: $appGreenDark2;

            &:last-child {
                border-color: transparent;
            }
        }
    }
}

.app-footer {
    background: $appGreenDark;
    color: color-yiq($appGreenDark);


    h4 {
        font-size: 18px;
    }

    .app-footer-social {
        width: 30px;
        height: 30px;
        font-size: 16px;
        margin-right: 1.25rem;
        background: white;
        padding-top: 3px;
        text-align: center;

        &.facebook {
            background: #3350ae;
        }

        &.twitter {
            background: #00c4fc;
        }

        &.linkedin {
            background: #0084d7;
        }
    }

    .app-footer-form {
        border: 1px solid #000000;

        .form-group {
            margin-bottom: 0;

            input {
                width: 100%;
                border: none;
                border-radius: 0;
                box-shadow: none;
                font-size: 1rem;
            }
        }

        button {
            padding-top: 7.5px;
            padding-bottom: 7px;
            border-radius: 0;
        }
    }

    .app-footer-line {
        border-bottom: 2px solid #0b4f31;
    }
}

.app-newsletter-sidebar-form {
    border: 1px solid #000000;

    .form-group {
        margin-bottom: 0;

        input {
            width: 100%;
            border: none;
            border-radius: 0;
            box-shadow: none;
            font-size: 1rem;
        }
    }

    button {
        padding-top: 7.5px;
        padding-bottom: 7px;
        border-radius: 0;
    }
}

.app-sidebar-search {
    border: 1px solid #000000;

    .form-group {
        margin-bottom: 0;

        input {
            width: 100%;
            border: none;
            border-radius: 0;
            box-shadow: none;
            font-size: 1rem;
        }
    }

    button {
        padding-top: 7.5px;
        padding-bottom: 7px;
        border-radius: 0;
    }
}

.app-carousel {
    position: relative;

    .app-carousel-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: rgba(#000, 0.39);
    }

    .carousel-indicators {
        li {
            border: 0;
            background: #fff;
            border-radius: 50%;
            width: 13px;
            height: 13px;
            margin-left: 12px;
            margin-right: 0;
        }
    }

    .carousel-caption {
        max-width: map-get($container-max-widths, 'lg');
        padding-bottom: 50px;

        h6 {
            animation-delay: 0.25s;
        }

        h5 {
            animation-delay: 0.4s;
        }

        .app-line {
            animation-delay: 0.4s;
        }

        p {
            animation-delay: 0.75s;
        }
    }
}

.app-card-1 {
    img {
        width: 100px;
        height: auto;
    }
}

.app-card-2 {
    img {
        width: 100%;
        height: auto;
    }
}

.app-home-form {
    background: $appMidBrown;
}

.app-home-counter {
    position: relative;
    background-image: url('../img/demo-slide-1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    h2 span {
        color: #39f09a;
    }

    .app-home-counter-value {
        font-weight: bolder;
        font-size: 60px;
        margin-bottom: 0;
        line-height: 1.3em;
    }
}

.app-agencies {
    img {
        width: 100px;
        height: auto;
    }
}

.app-top-socials a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.app-page-container {
    &.with-padding {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .app-page-container-inner {
        .app-page-content-container {
            width: 100%;
            padding-right: 30px;
        }

        .app-page-sidebar-container {
            width: 100%;
            max-width: 235px;
        }
    }
}

.app-wp-dinamic-content {
    color: $appTextContent;

    p {
        margin-bottom: 1rem;
    }

    ul,
    ol {
        padding-left: 18px;
    }
}

.app-sidebar-menu {
    .app-sidebar-menu-title {
        position: relative;
        background: yellow;
        font-size: 20px;
        font-weight: 600;
        padding: 14px 18px 16px 18px;
        background: #69e999;

        .icon-triangle {
            width: 21px;
            position: absolute;
            bottom: -17px;
            right: 19px;
            z-index: 10;
        }
    }

    .nav-item {
        &.dropdown {
            &.show {
                .dropdown-menu {
                    display: block;
                    position: relative !important;
                    top: 0 !important;
                    transform: none !important;
                }
            }
        }

        .nav-link {
            background: #f2f2f2;
            padding: 12px 16px 14px 16px;
            border-bottom: 1px solid white;
            font-size: 14px;

            &::after {
                display: none;
            }
        }

        .dropdown-menu {
            border: 0;
            padding: 0;
            width: 100%;

            .dropdown-item {
                font-size: 14px;
                background: white;
                padding: 12px 16px 14px 16px;
                border: 1px solid #f2f2f2;
                border-top: 0;
                white-space: normal;
            }
        }
    }
}

.app-sidebar-newsletter-box {
    .title {
        line-height: 1.1em;
        margin-bottom: 1rem;
    }

    background: #fde428;
    padding: 30px;
}

.app-training-list-group {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    padding-top: 50px;
    padding-bottom: 30px;

    .app-training-list-item {
        a {
            color: $appBlack;
        }
    }
}

.app-title-wrapper {
    .app-line {
        width: 40px !important;
    }
}

.app-trainings-single {
    .training-img-wrapper {
        width: 100%;
        max-width: 405px;
    }
}

.app-circled-number {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.app-list {
    .app-list-item {
        width: 50%;
        margin-bottom: 4rem;

        .list-img {
            width: 100%;
            max-width: 130px;
        }
    }
}

.app-pagination {
    .pagination {
        flex-wrap: wrap;

        .page-item {
            margin-bottom: 0.5rem;

            .page-item-inner {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid $appBlack;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 3px;

                .page-link {
                    display: inline-block !important;
                    text-align: center;
                    font-size: 12px;
                    border: 0;
                    font-size: 14px;
                }

                &:hover {
                    background: $appBlack;

                    .page-link {
                        background: transparent;
                        color: white;
                    }
                }
            }

            &.active {
                .page-item-inner {
                    background: $appBlack;

                    .page-link {
                        background: transparent;
                        color: white;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
    .app-home-counter {
        h2 {
            max-width: 400px;
        }
    }
}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {
    .app-navbar {
        .navbar-collapse {
            background: lighten($secondary, 48%);
            padding: 20px 20px;
            position: absolute;
            top: 60px;
            right: 0;
            width: 100%;

            .nav-item {
                .nav-link {
                    text-align: right;

                    span {
                        font-weight: 500;
                        margin-top: 2px;
                    }
                }

                .dropdown-menu {
                    width: auto;
                    margin-left: auto;
                    top: 0px;
                    margin-bottom: 6px;

                    .dropdown-item {
                        text-align: right;
                    }
                }

                &.active {
                    .nav-link {
                        span {
                            border-bottom: 2px solid $warning;
                        }
                    }
                }
            }

        }

    }
}

@include media-breakpoint-down(md) {
    .app-page-container {
        .app-page-container-inner {
            .app-page-content-container {
                padding-right: 0;
            }

            .app-page-sidebar-container {
                margin-top: 40px;
            }
        }
    }

    .app-page-container {
        .app-page-container-inner {
            .app-page-sidebar-container {
                max-width: 100%;
            }
        }
    }

    .app-circled-number {
        width: 80px;
        height: 80px;
    }

    .app-trainings-single {
        .training-img-wrapper {
            max-width: 100%;
        }
    }
}

@include media-breakpoint-down(sm) {
    .app-navbar {
        .navbar-brand {
            top: -40px;

            img {
                width: 160px;
            }
        }
    }

    .app-carousel {
        h5 {
            font-size: 19px !important;
        }

        .carousel-caption {
            padding-bottom: 10px;
        }
    }

    .app-home-counter {
        .app-home-counter-value {
            font-size: 40px;
        }
    }

    .app-list {
        .app-list-item {
            width: 100%;
        }
    }
}

@include media-breakpoint-down(xs) {
    .app-navbar {
        .navbar-brand {
            top: -12px;

            img {
                width: 120px;
            }
        }
    }

    .app-list {
        .app-list-item {
            .list-img {
                max-width: 80px;
            }
        }
    }
}