@import "./variables";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "./fonts.scss";

body {
    font-family: 'Helvetica Neue';
    font-size: 14px;
}

.app-font-11 {
    font-size: 11px;
}

.app-font-12 {
    font-size: 12px;
}

.app-font-13 {
    font-size: 13px;
}

.app-font-14 {
    font-size: 14px;
}

.app-font-15 {
    font-size: 15px;
}

.app-font-18 {
    font-size: 18px;
}

.app-font-21 {
    font-size: 21px;
}

.app-font-24 {
    font-size: 24px;
}

.app-font-27 {
    font-size: 27px;
}

.app-font-30 {
    font-size: 30px;
}

.app-font-33 {
    font-size: 33px;
}

.app-font-36 {
    font-size: 36px;
}

.text-gray-100 {
    color: $gray-100 !important;
}

.text-gray-200 {
    color: $gray-200 !important;
}

.text-gray-300 {
    color: $gray-300 !important;
}

.text-gray-400 {
    color: $gray-400 !important;
}

.text-gray-500 {
    color: $gray-500 !important;
}

.text-gray-600 {
    color: $gray-600 !important;
}

.text-gray-700 {
    color: $gray-700 !important;
}

.text-gray-800 {
    color: $gray-800 !important;
}

.text-gray-900 {
    color: $gray-900 !important;
}

.app-navbar {
    .navbar-toggler {
        outline-color: $warning;
        border-radius: 2px;
    }

    .navbar-brand {
        position: absolute;
        top: -35px;
        left: 0;

        img {
            width: 160px;
        }
    }

    .navbar-collapse {
        z-index: 99;
    }

    .dropdown-menu {
        position: relative;
        top: 48px;
        border-top: 3px solid $primary;

        .dropdown-item {
            padding-top: 7px;
            padding-bottom: 7px;
            font-size: 13px;
            border-bottom: 1px solid lighten($secondary, 45%);
            text-transform: none;
            color: $appGreenDark2;

            &:last-child {
                border-color: transparent;
            }
        }
    }
}

.app-footer {
    background: $appGreenDark;
    color: color-yiq($appGreenDark);

    .app-footer-social {
        width: 30px;
        height: 30px;
        font-size: 16px;
        margin-right: 1.25rem;
        background: white;
        padding-top: 3px;
        text-align: center;

        &.facebook {
            background: #3350ae;
        }

        &.twitter {
            background: #00c4fc;
        }

        &.linkedin {
            background: #0084d7;
        }
    }

    .app-footer-form {
        border: 1px solid #000000;

        .form-group {
            margin-bottom: 0;

            input {
                width: 100%;
                border: none;
                border-radius: 0;
            }
        }

        button {
            padding-top: 7.5px;
            padding-bottom: 7px;
            border-radius: 0;
        }
    }

    .app-footer-line {
        border-bottom: 2px solid #0b4f31;
    }
}

@include media-breakpoint-up(sm) {
    .app-font-24 {
        font-size: 20px;
    }

    .app-font-27 {
        font-size: 22px;
    }

    .app-font-30 {
        font-size: 24px;
    }

    .app-font-33 {
        font-size: 26px;
    }

    .app-font-36 {
        font-size: 28px;
    }
}

@include media-breakpoint-up(md) {
    .app-font-24 {
        font-size: 21px;
    }

    .app-font-27 {
        font-size: 22px;
    }

    .app-font-30 {
        font-size: 24px;
    }

    .app-font-33 {
        font-size: 27px;
    }

    .app-font-36 {
        font-size: 30px;
    }
}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {
    .app-navbar {
        .navbar-collapse {
            background: lighten($secondary, 48%);
            padding: 20px 20px;
            position: absolute;
            top: 60px;
            right: 0;
            width: 100%;

            .nav-item {
                .nav-link {
                    text-align: right;

                    span {
                        font-weight: 500;
                        margin-top: 2px;
                    }
                }

                .dropdown-menu {
                    width: auto;
                    margin-left: auto;
                    top: 0px;
                    margin-bottom: 6px;

                    .dropdown-item {
                        text-align: right;
                    }
                }

                &.active {
                    .nav-link {
                        span {
                            border-bottom: 2px solid $warning;
                        }
                    }
                }
            }

        }

    }
}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {
    .app-navbar {
        .navbar-brand {
            top: -15px;

            img {
                width: 120px;
            }
        }
    }
}