@import "./variables";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

.width-auto {
    width: auto;
}

.text-black {
    color: #000;
}

.app-top-1 {
    top: 0.25rem;
}

.app-top-2 {
    top: 0.5rem;
}

.app-top-3 {
    top: 0.75rem;
}

.app-top-4 {
    top: 1rem;
}

.app-top-5 {
    top: 1.25rem;
}

.app-top-6 {
    top: 1.5rem;
}

.app-top-7 {
    top: 1.75rem;
}

.app-top-8 {
    top: 2rem;
}

.app-top-9 {
    top: 2.25rem;
}

.letter-spacing-1 {
    letter-spacing: 0.075rem;
}

.letter-spacing-2 {
    letter-spacing: 0.1rem;
}

.letter-spacing-3 {
    letter-spacing: 0.125rem;
}

.letter-spacing-4 {
    letter-spacing: 0.15rem;
}

.letter-spacing-5 {
    letter-spacing: 0.175rem;
}

.letter-spacing-6 {
    letter-spacing: 0.2rem;
}

.letter-spacing-7 {
    letter-spacing: 0.225rem;
}

.letter-spacing-8 {
    letter-spacing: 0.25rem;
}

.letter-spacing-9 {
    letter-spacing: 0.275rem;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 900;
}

.app-font-11 {
    font-size: 11px;
}

.app-font-12 {
    font-size: 12px;
}

.app-font-13 {
    font-size: 13px;
}

.app-font-14 {
    font-size: 14px;
}

.app-font-15 {
    font-size: 15px;
}

.app-font-16 {
    font-size: 16px;
}

.app-font-17 {
    font-size: 17px;
}

.app-font-18 {
    font-size: 18px;
}

.app-font-21 {
    font-size: 21px;
}

.app-font-24 {
    font-size: 24px;
}

.app-font-27 {
    font-size: 27px;
}

.app-font-30 {
    font-size: 30px;
}

.app-font-33 {
    font-size: 33px;
}

.app-font-36 {
    font-size: 36px;
}

.text-gray-100 {
    color: $gray-100 !important;
}

.text-gray-200 {
    color: $gray-200 !important;
}

.text-gray-300 {
    color: $gray-300 !important;
}

.text-gray-400 {
    color: $gray-400 !important;
}

.text-gray-500 {
    color: $gray-500 !important;
}

.text-gray-600 {
    color: $gray-600 !important;
}

.text-gray-700 {
    color: $gray-700 !important;
}

.text-gray-800 {
    color: $gray-800 !important;
}

.text-gray-900 {
    color: $gray-900 !important;
}

.app-line {
    height: 6px;
    background: $primary;

    &.w-20 {
        width: 20%;
    }

    &.w-25 {
        width: 50%;
    }

    &.w-40 {
        width: 40%;
    }

    &.w-50 {
        width: 50%;
    }

    &.w-60 {
        width: 60%;
    }

    &.w-75 {
        width: 75%;
    }

    &.w-80 {
        width: 80%;
    }

    &.xxs {
        height: 1px;
    }

    &.xs {
        height: 2px;
    }


    &.sm {
        height: 4px;
    }

    &.md {
        height: 8px;
    }

    &.lg {
        height: 10px;
    }

    &.xl {
        height: 12px;
    }

    &.primary {
        background: $primary;
    }

    &.secondary {
        background: $secondary;
    }

    &.warning {
        background: $warning;
    }

    &.success {
        background: $success;
    }

    &.info {
        background: $info;
    }

    &.brown {
        background: darken($appMidBrown, 20%);
    }
}

.container {
    max-width: 1100px;
}

.app-container,
.app-container-xl {
    max-width: map-get($container-max-widths, 'xl');
}

.app-container-lg {
    max-width: map-get($container-max-widths, 'lg');
}

.app-container-md {
    max-width: map-get($container-max-widths, 'md');
}

.app-container-sm {
    max-width: map-get($container-max-widths, 'sm');
}

.app-container-xs {
    max-width: map-get($container-max-widths, 'xs');
}

.app-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.45);
    z-index: 0;
}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {
    .app-font-24 {
        font-size: 21px;
    }

    .app-font-27 {
        font-size: 22px;
    }

    .app-font-30 {
        font-size: 24px;
    }

    .app-font-33 {
        font-size: 27px;
    }

    .app-font-36 {
        font-size: 30px;
    }
}

@include media-breakpoint-down(sm) {
    .app-font-24 {
        font-size: 20px;
    }

    .app-font-27 {
        font-size: 22px;
    }

    .app-font-30 {
        font-size: 24px;
    }

    .app-font-33 {
        font-size: 26px;
    }

    .app-font-36 {
        font-size: 28px;
    }
}