@import "../../functions.scss";
@import "../../variables.scss";
@import "../../mixins";

.yg-navbar {
    background: #fff;

    .navbar-brand {
        img {
            width: 200px;
        }
    }

    .navbar-nav {
        .nav-link {
            font-size: 16px;
            font-weight: 600;
            color: #000;

            &:hover,
            &:focus {
                color: #4B2DD0;
            }

            &.nav-link-featured {
                border-color: #ED3580;
                border-radius: 10px;
                border-width: 2px;
                border-style: solid;
            }
        }

        .nav-profile {
            font-weight: bold;
            border-color: #606060;
            border-radius: 18px;
            border-width: 1px;
            border-style: solid;
            padding: 3px 4px 3px 11px;
            position: relative;

            .nav-profile-img {
                margin-left: 3px;
                max-width: 34px;
            }

            .badge {
                position: absolute;
                top: -5px;
                right: -7px;
                font-size: 14px;
                border-radius: 9px;

                &.badge-empty {
                    display: none;
                }
            }
        }

        .nav-cart {
            font-weight: bold;
            border-radius: 14px;
            padding: 5px 7px;
            position: relative;
            top: -3px;

            .nav-cart-icon {
                max-width: 35px;
            }

            .badge {
                position: absolute;
                top: -5px;
                right: -7px;
                font-size: 14px;
                border-radius: 9px;

                &.badge-empty {
                    width: auto;
                    overflow: hidden;
                    pointer-events: none;
                    visibility: hidden;
                }
            }
        }
    }

    .navbar-toggler {
        border-color: transparent;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

    .navbar-collapse {
        max-width: 960px;
    }
}

@include media-breakpoint-down(md) {
    .yg-navbar {
        .navbar-collapse {
            margin-top: 25px;
            padding: 15px 10px 30px 10px;
            border-top: 1px dashed #ccc;
            background: #f8f8f8;
            border-bottom: 2px solid #ed3680;

            .navbar-nav {
                .nav-item {
                    text-align: right;
                    padding: 7px 15px;

                    .nav-link-featured {
                        display: inline-block;
                        padding: 8px 5px;
                    }

                    .nav-profile {
                        margin: 4px 3px 15px 0;
                    }

                    .nav-cart {
                        margin: 20px 3px 5px 0;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .yg-navbar .navbar-brand img {
        width: 150px;
    }
}

@include media-breakpoint-down(xs) {
    .yg-navbar .navbar-brand img {
        width: 120px;
    }
}